* {
    color: white;
}

.text-center {
    font-size: 23px;
}

.more-details {
    display: flex;
    flex-direction: column;
}

canvas {
    width: 300px;
}

.btn-custom {
    color: white;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid white;
    width: 23%;
}

.btn-custom:focus {
    background-color: #009688;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #009688;
}