<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 details">
      <div class="img">
        <img [src]="coinData?.image?.large" alt="" />
        <h3 class="text-center">{{ coinData?.name }}</h3>
        <h2 [innerHTML]="coinData?.description?.en.split('. ')[0]"></h2>
        <div class="more-details">
          <div class="details-row">
            <span class="title">Rank: </span>
            <span class="value">{{ coinData?.market_cap_rank }}</span>
          </div>
          <div class="details-row">
            <span class="title">Price: </span>
            <span class="value">{{
              coinData?.market_data.current_price.inr | currency
            }}</span>
          </div>
          <div class="details-row">
            <span class="title">Market Cap: </span>
            <span class="value">{{
              coinData?.market_data.market_cap.inr | currency
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
